{% extends "base.html" %}
{% block css %}
<style>
    .container {
        height: 100vh;
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }

    .form {
        height: 100%;
        width: 50%;
        padding: 20px;
        margin: 5%;

    }

    .form1 {
        height: 50%;
        width: 50%;
        padding: 20px;
        margin: 5%;
        margin-top: 15%;

    }


    h3 {
        padding: 20px;
    }

    .message {
        margin-bottom: 30px;
        padding: 10px;
        padding-left: 0;
    }

    .label {
        margin-right: 20px;
        height: auto;
        min-width: 100px;
        display: inline-block;
        margin: auto;
    }

    .danger {
        margin: 10px;
    }

    @media (max-width:850px) {
        .container {
            display: block;
        }

        .form,
        .form1 {
            height: 65%;
            width: 100%;
            border: 2px solid red;
        }


    }
</style>
{% endblock css %}

{% block content %}
<div class="container">

    <form action="" class="form" method="post">
        {% if messages %}
        <div class="message">

            {% for message in messages %}
            <div {% if message.tags %} class="alert-{{message.tags}}" {% endif %}>{{message}}</div>
            {% endfor %}
        </div>

        {% endif %}
        <h3>Welcome {{request.user.username|capfirst}} !</h3>


        {% csrf_token %}
        <table>
            {% for fm in form %}
            <p class="label"> {{fm.label_tag}} </p> {{fm}} <span class="alert-danger danger"> {{fm.errors|striptags}}
            </span><br><br>
            {% endfor %}
        </table>
        <input type="submit" class="btn btn-primary" value="Update">

    </form>

    <div class="form1">
        <form action="{%url 'addSource'%}" method="POST">
            {% csrf_token %}
            <div> Add Income Sources : </div>
            <input type="text" placeholder="Source" name="Source">
            <input type="submit" class="btn btn-primary m-2">
        </form>
        <div>
            {% for source in sources %}
            <li class="list">{{source}} <a href="{%url 'deleteSource' source.id%}"> Delete</a></li>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}