{% extends 'base.html'%} {% block content %}

<div class="container mt-4">
    <h5>Preferred Currency</h5>
    {% include 'partials/_messages.html' %}
    <form action="{% url 'preferences'%}" method="post">
        {% csrf_token %}
        <div class="input-group">
            <select name="currency" class="custom-select" id="inputGroupSelect04">
                {% if user_preferences.currency%}
                <option name="currency" selected value="{{user_preferences.currency}}">{{user_preferences.currency}}
                </option>
                {% endif %} {% for currency in currencies %}

                <option name="currency" value="{{currency.name}} - {{currency.value}}">{{currency.name}} -
                    {{currency.value}}
                </option>

                {% endfor %}
            </select>
            <div class="input-group-append">
                <input class="btn btn-outline-secondary" type="submit" value="Save" />
            </div>
        </div>
    </form>
</div>
<div class="container mt-5">
    <h5 class="mt-5">Your Current Daily Expense Limit is : <b> {{daily_expense_limit}} </b></h5>
    <form action="{%url 'set-daily-expense-limit'%}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <h5> <label for="exampleInputEmail1">Set Daily Expense Limit</label></h5>
            <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter daily Expense Limit" name="daily_expense_limit">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


<hr />

{% endblock %}