{% extends "base.html" %}
{% block css %}
<style>
    .green {
        color: green;
    }

    .red {
        color: red;
    }
</style>
{% endblock css %}
{% block content %}
<div class="container m-3">
    <h1>Income-Expense Report</h1>

    <!-- Error Messages -->
    {% if messages %}
    <div class="alert alert-danger">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}

    <!-- Date Range Form -->
    <form method="post" action="{% url 'generate-report' %}" class="mb-3">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="start_date">Start Date:</label>
                <input type="date" name="start_date" class="form-control" required>
            </div>
            <div class="form-group col-md-6">
                <label for="end_date">End Date:</label>
                <input type="date" name="end_date" class="form-control" required>
            </div>
        </div>
        <button type="submit" id="generate-report" class="btn btn-primary">Generate Report</button>
    </form>


    {% if incomes %}
    <!-- Income Table -->
    <h2>Total Income:</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Date</th>
                <th>Source</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for income in incomes %}
            <tr>
                <td>{{ income.date }}</td>
                <td>{{ income.source }}</td>
                <td>&#8377; {{ income.amount }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if expenses %}
    <!-- Expense Table -->
    <h2>Total Expenses:</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Date</th>
                <th>Category</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expenses %}
            <tr>
                <td>{{ expense.date }}</td>
                <td>{{ expense.category }}</td>
                <td>&#8377; {{ expense.amount }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if total_income is not None and total_expense is not None %}
    <!-- Savings Calculation -->
    <h2>Savings:</h2>
    <p>Total Income: &#8377; {{ total_income }}</p>
    <p>Total Expenses: &#8377; {{ total_expense }}</p>
    <p>Total Savings: &#8377;
        {% if savings < 0 %} 0 {%else%} {{ savings }} {% endif %} </p>

            {% if savings > 0 %}
            <p class="green">You saved money this period.</p>
            {% elif savings == 0 %}
            <p class="green">Your income and expenses balanced.</p>
            {% else %}
            <p class="red">You exceeded your Expenses than your income this period.</p>
            {% endif %}
            {% endif %}

            <!-- Export Options -->
            <div>
                {% if report_generated %}


                <h2>Export Options:</h2>
                <a href="{% url 'export_pdf' %}?start_date={{ start_date }}&end_date={{ end_date }}"
                    class="btn btn-success">Export
                    as
                    PDF</a>
                <a href="{% url 'export_csv' %}?start_date={{ start_date }}&end_date={{ end_date }}"
                    class="btn btn-info">Export as
                    CSV</a>
                <a href="{% url 'export_xlsx' %}?start_date={{ start_date }}&end_date={{ end_date }}"
                    class="btn btn-warning">Export
                    as
                    XLSX</a>
                {% endif %}
            </div>

            <!-- Include Bootstrap JS -->
</div>

{% endblock content %}