{% extends "base.html" %}
<h1>Expenses List</h1>
<ul class="list-group">
    <li class="list-group-item">Bought chips</li>
    <li class="list-group-item">Bought chips</li>
    <li class="list-group-item">Bought chips</li>
    <li class="list-group-item">Bought chips</li>
    <li class="list-group-item">Bought chips</li>
    <li class="list-group-item">Bought chips</li>
    <li class="list-group-item">Bought chips</li>
    <li class="list-group-item">Bought chips</li>
    <li class="list-group-item">Bought chips</li>
    <li class="list-group-item">Bought chips</li>
    <li class="list-group-item">Bought chips</li>
</ul>