{% extends "base.html" %}


{% block content %}
<h1 class="mt-4">Expenses List</h1>
<ul class="list-group">
    <li class="list-group-item">Bought chips</li>
    <li class="list-group-item">Bought chips</li>
    <li class="list-group-item">Bought chips</li>
    <li class="list-group-item">Bought chips</li>
    <li class="list-group-item">Bought chips</li>
    <li class="list-group-item">Bought chips</li>
    <li class="list-group-item">Bought chips</li>
    <li class="list-group-item">Bought chips</li>
    <li class="list-group-item">Bought chips</li>
    <li class="list-group-item">Bought chips</li>
    <li class="list-group-item">Bought chips</li>
</ul>
{% endblock content %}